name: Release

permissions: {}

on:
  push:
    tags: ["v*.*.*"]

jobs:
  release:
    name: Release
    uses: grafana/xk6/.github/workflows/extension-release.yml@4102eeec59fbec9afdfc21ab6b0eef44a4a2bf28 # v1.3.1
    permissions:
      contents: write
    with:
      go-version: 1.24.x
      k6-version: v1.3.0
      xk6-version: 1.2.3
      os: '["linux","windows","darwin"]'
      arch: '["amd64","arm64"]'
